.button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-blue-grey);
  color: var(--color-white);
  cursor: pointer;
}

.button.active,
.button:not([disabled]):hover {
  background-color: var(--color-blue);
}

.button:disabled {
  color: var(--color-grey);
  background-color: var(--color-grey-dark);
  cursor: initial;
}